body {
  width: 80%;
  font-family: 'IBM Plex Serif', serif;
}

/* font-family: 'VT323', monospace; The BEST FOOD BLOG
font-family: 'Yellowtail', cursive; for Delicous
font-family: 'Francois One', sans-serif;
font-family: 'IBM Plex Sans', sans-serif; */